global-include *.py *.ptl *.html *.css *.ico *.sh *.png *.gif *.jpg *.js
include README LICENSE MANIFEST.in CHANGES
include conf/canary_config.py.sample
exclude conf/canary_config.py
recursive-exclude build *
recursive-exclude dist *
