# Config file for the Quixote demo.  This ensures that debug and error
# messages will be logged, and that you will see full error information
# in your browser.  (The default settings shipped in Quixote's config.py
# module are for security rather than ease of testing/development.)

# Logging setup
import logging

# Set the logging level
LOG_LEVEL = logging.DEBUG

# Log format
LOG_FORMAT = '%(asctime)s %(name)s:%(lineno)s %(levelname)-8s %(message)s'

# Where do the logs go?
LOG_DIR = "/home/user/sites/canary_project/logs"
ACCESS_LOG = LOG_DIR + '/access.log'
DEBUG_LOG = LOG_DIR + '/debug.log'
ERROR_LOG = LOG_DIR + '/error.log'

ERROR_EMAIL = None

DISPLAY_EXCEPTIONS = "html" # None
SECURE_ERRORS = 0

FIX_TRAILING_SLASH = 1

# Generate unique form tokens on POSTed forms
FORM_TOKENS = True

MAIL_FROM = "foo@example.com"     # eg. "webmaster@example.com"
MAIL_SERVER = "localhost"
MAIL_DEBUG_ADDR = "foo@example.com"   # eg. "developers@example.com"

UPLOAD_DIR = "/home/user/sites/canary_project/upload"

# Variables defined locally for sentineltestsite.
# Note that quixote.config.Config has been subclassed
# as qx_defs.MyConfig to include these vars.

SESSION_COOKIE_NAME = "canary_database_session"
SESSION_COOKIE_DOMAIN = "your.hostname"
SESSION_COOKIE_PATH = "/"

# Base url of the site, *NOT* including trailing slash
SITE_BASE_URL = "localhost"

DB_HOST = "localhost"
DB_NAME = "dbname"
DB_USER = "dbuser"
DB_PASSWD = "dbpass"


STATIC_HTML_DIR = "/home/user/projects/canary/canary/ui/html"
STATIC_IMAGE_DIR = "/home/user/projects/canary/canary/ui/images"
TEMP_IMAGE_DIR = "/home/user/projects/canary/temp"

# Use memcached?
USE_CACHE = True

# List of memcached servers
CACHE_SERVER_LIST = ['127.0.0.1:11234']

# Search index directory
SEARCH_INDEX_DIR = "/home/user/sites/canary_project/search-index"

# Displays in the top head
SITE_STATUS = ""
SITE_STATUS_NOTE = ""

# Enable robots.txt generation?  
ENABLE_ROBOTS_TXT = False  

# robots.txt content  
ROBOTS_TXT = {'SomeAgent': ['/path1', '/path2'],  
    'AnotherAgent': ['/']  
    }  

# Shorthand name for authentication (provides 'login', 'logout' 
# template functions).  Change this if you want to handle 
# authentication another way in your local instance.
#
# Must be one of ('general', 'yale').
AUTHN_MODE = "general"
#AUTHN_MODE = "yale"

