# Config file for the Quixote demo.  This ensures that debug and error
# messages will be logged, and that you will see full error information
# in your browser.  (The default settings shipped in Quixote's config.py
# module are for security rather than ease of testing/development.)

ACCESS_LOG = "/home/user/sites/canary_project/logs/access.log"
DEBUG_LOG = "/home/user/sites/canary_project/logs/debug.log"
ERROR_LOG = "/home/user/sites/canary_project/logs/error.log"

ERROR_EMAIL = None

DISPLAY_EXCEPTIONS = "html" # None
SECURE_ERRORS = 0

FIX_TRAILING_SLASH = 1

# Generate unique form tokens on POSTed forms
FORM_TOKENS = True

MAIL_FROM = "foo@example.com"     # eg. "webmaster@example.com"
MAIL_SERVER = "localhost"
MAIL_DEBUG_ADDR = "foo@example.com"   # eg. "developers@example.com"

UPLOAD_DIR = "/home/user/sites/canary_project/upload"


# Variables defined locally for sentineltestsite.
# Note that quixote.config.Config has been subclassed
# as qx_defs.MyConfig to include these vars.

SESSION_COOKIE_NAME = "canary_database_session"
SESSION_COOKIE_DOMAIN = "your.hostname"
SESSION_COOKIE_PATH = "/"


DB_HOST = "localhost"
DB_NAME = "dbname"
DB_USER = "dbuser"
DB_PASSWD = "dbpass"
USE_DB_POOL = False
DB_POOL_SIZE = 5

LOG_DIR = "/home/user/sites/canary_project/logs"

STATIC_HTML_DIR = "/home/user/projects/canary/lib/ui/html"
STATIC_IMAGE_DIR = "/home/user/projects/canary/lib/ui/images"

# Use memcached?
USE_CACHE = True

# List of memcached servers
CACHE_SERVER_LIST = ['127.0.0.1:11234']

# Search index directory
SEARCH_INDEX_DIR = "/home/user/sites/canary_project/search-index"

# Displays in the top head
SITE_STATUS = ""
SITE_STATUS_NOTE = ""

# Enable robots.txt generation?  
ENABLE_ROBOTS_TXT = False  

# robots.txt content  
ROBOTS_TXT = {'SomeAgent': ['/path1', '/path2'],  
    'AnotherAgent': ['/']  
    }  
